body {
    margin: 0;
    font-family: "Merriweather", serif;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
}
main article {
    width: 1480px;
}

/*---------  Hero Section CSS  ---------*/
#hero-section {
    margin: 50px 0;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    background-image: url("./images/Banner\ Image.png");
    background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.961), rgba(0, 0, 0, 0.085)),
    url("./images/Banner%20Image.png") center/cover no-repeat;
    display: flex;
    align-items: center;
}
#hero-section article {
    text-align: center;
}
#hero-section article h2 {
    font-size: 32px;
    color: white;
}
#hero-section article h1 {
    margin: 0 auto;
    width: 600px;
    font-size: 72px;
    color: white;
}


/*---------  Banner Section CSS  ---------*/
#banner-section {
    margin: 50px 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner-section article {
    text-align: center;
}
#banner-section h1 {
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}
#banner-section h4 {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
}
#banner-section h2 {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
}


/*---------  Footer Section CSS  ---------*/
footer {
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070211;
}
footer article {
    width: 1480px;
    color: white;
}
.footer-text-table{
    display: flex;
    justify-content: space-between;
}
.footer-text-table aside div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.footer-text-table div h3 {
    margin: 8px 0;
}
.footer-text-table a {
    text-decoration: none;
}
.footer-text-table h3 {
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-family: "Inter", sans-serif;
}
#social-icon-block {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 55px 0;
}
.footer-text-table aside div img {
    width: 20px;
    height: 20px;
}
#hr {
    width: 100%;
    height: 1px;
    margin: 45px 0;
    background-color: white;
}