body {
    margin: 0;
    font-family: "Merriweather", serif;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
}
main article {
    width: 1480px;
}
p {
    line-height: 1.8;
}

/*---------  Hero Section CSS  ---------*/
#hero-section {
    margin: 50px 0;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    background-image: url("./images/Banner\ Image.png");
    background:
    linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.085)),
    url("./images/Banner%20Image.png") center/cover no-repeat;
    display: flex;
    align-items: center;
}
#hero-section article {
    text-align: center;
}
#hero-section article h2 {
    font-size: 32px;
    color: white;
}
#hero-section article h1 {
    margin: 0 auto;
    width: 600px;
    font-size: 72px;
    color: white;
}


/*---------  Banner Section CSS  ---------*/
#banner-section {
    margin: 50px 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner-section article {
    text-align: center;
}
#banner-section h1 {
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}
#banner-section h4 {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
}
#banner-section h2 {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
}


/*---------  Welcome Banner CSS  ---------*/
#welcome-banner-section {
    margin: 50px 0 150px;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    background-image: url("./images/Banner\ Image.png");
    background:
    linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.085)),
    url("./images//Vectorrr.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-banner-section article {
    width: 1200px;
    display: flex;
    gap: 240px;
}
#welcome-banner-section article h1 {
    width: 600px;
    font-size: 64px;
    color: white;
}
#welcome-banner-section article p {
    width: 640px;
    color: white;
    font-family: "Inter", sans-serif;
}
#welcome-banner-section article a {
    text-decoration: none;
}
#welcome-banner-section article a h4 {
    margin-top: 45px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: "Inter", sans-serif;
}

/*---------  Event Details Section CSS  ---------*/
#event-details-section {
    margin: 50px 0 150px;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    background:
    linear-gradient(to bottom, #ff000025, #ff000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#event-details-section h2 {
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    font-family: "Inter", sans-serif;
    margin: 0;
    margin-bottom: 20px;
}
#event-details-section h2 span {
    color: #FF0000;
}
#event-details-section button {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-family: "Inter", sans-serif;
    border: 0;
    border-radius: 10px;
    background-color: #FF0000;
    padding: 20px 40px;
}

/*---------  Coming Soon Section CSS  ---------*/
#coming-soon-section {
    margin: 50px 0 50px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}
#coming-soon-section aside {
    width: 33.3%;
}
#coming-soon-img-container {
    width: 500px;
    height: 443px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid #FF0000;
    border-radius: 50%;
    margin: 0;
}
#third-aside-coming-soon-section h2 {
    margin: 0;
    margin-left: 35px;
    margin-bottom: 25px;
}
#third-aside-coming-soon-section p {
    margin: 0;
    margin-left: 35px;
}
#third-aside-coming-soon-section img {
    margin: 0;
    margin-left: 35px;
    margin-top: 55px;
}
#coming-soon-img-container img {
    width: 380px;
    height: 380px;
}
#coming-soon-section h3 {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}
#coming-soon-section h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}
#coming-soon-section h2 {
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}
#coming-soon-section p {
    font-size: 20px;
    color: #0702119c;
    font-family: "Inter", sans-serif;
}

/*---------  Holidays Sales Section CSS  ---------*/
#holidays-sales-section {
    margin-bottom: 150px;
    position: relative;
    width: 100%;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
#holidays-sales-section h4 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
    font-family: "Inter", sans-serif;
}
#holidays-sales-section h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    color: #070211;
    font-family: "Inter", sans-serif;
}
#holidays-sales-section h1 span {
    color: #FF0000;
}
#holidays-sales-section p {
    width: 900px;
    font-size: 20px;
    font-weight: 500;
    color: #0702119d;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 30px;
}
#holiday-sales-section-img-1 {
    position: absolute;
    bottom: 300px;
    right: 120px;
    width: 320px;
}
#holiday-sales-section-img-2 {
    position: absolute;
    bottom: 50px;
    left: 150px;
    width: 650px;
}


/*---------  Awesome Portfolio Section CSS  ---------*/
#awasome-portfolio-section {
    width: 100%;
    height: 1265px;
    display: flex;
    flex-direction: column;
}
#awasome-portfolio-section h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}
#awasome-portfolio-section h1 {
    margin: 0;
    margin-top: 25px;
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}
#awasome-portfolio-section p {
    margin: 0;
    margin: 25px 0 50px;
    width: 900px;
    font-size: 20px;
    color: #0702119f;
    font-family: "Inter", sans-serif;
}
#awasome-portfolio-section article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
#awasome-portfolio-section article img {
    width: 100%;
    margin: 0;
}


/* ---------  Subscribe Newsletter Section CSS  ---------*/
#subscribe-newsletter-section {
    margin: 150px 0;
    width: 100%;
    height: 620px;
    border-radius: 15px;
    background-color: #ff000025;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#subscribe-newsletter-section img {
    margin-top: 80px;
}
#subscribe-newsletter-section h1 {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin-bottom: 0;
}
#subscribe-newsletter-section p {
    font-size: 20px;
    color: #0702119c;
    font-family: "Inter", sans-serif;
    width: 900px;
    text-align: center;
}
#subscribe-newsletter-section div {
    margin-top: 20px;
    display: flex;
}
#subscribe-newsletter-section div input{
    border: 0;
    color: #07021146;
    font-size: 20px;
    width: 330px;
    padding: 25px 40px;
    border-radius: 50px 0 0 50px;
}
#subscribe-newsletter-section div button{
    border: 0;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FF0000;
    font-size: 20px;
    width: 210px;
    padding: 25px 25px;
    border-radius: 0 50px 50px 0;
}


/*---------  Footer Section CSS  ---------*/
footer {
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070211;
}
footer article {
    width: 1480px;
    color: white;
}
.footer-text-table{
    display: flex;
    justify-content: space-between;
}
.footer-text-table aside div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.footer-text-table div h3 {
    margin: 8px 0;
}
.footer-text-table a {
    text-decoration: none;
}
.footer-text-table h3 {
    font-size: 24px;
    font-weight: 400;
    color: white;
    font-family: "Inter", sans-serif;
}
#social-icon-block {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 55px 0;
}
.footer-text-table aside div img {
    width: 20px;
    height: 20px;
}
#hr {
    width: 100%;
    height: 1px;
    margin: 45px 0;
    background-color: white;
}